*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    font-family: "Smooch Sans", sans-serif;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.1), 0 32px 32px rgba(0,0,0,0.1);
    top: 0;            
    left: 0;
    width: 100%;       
    height: 100px;       
    z-index: 2;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 25px;
    margin-left: 69%;
}

.menu a{
    color: black;
    text-decoration: none;
}


h1{
   margin-left: 30px;
   font-family: "Marcellus", serif;
   font-size: 40px;
    font-weight: 100;
}

.menu-icon{
    font-size: 40px;
    margin-right: 30px;
    margin-left: 23%;
    display: none;
    z-index: 2;
    cursor: pointer;
}

.left-arrow{
    font-size: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.left-arrow a{
    text-decoration: none;
    color: black;
}

.side-menu{ 
    width: 40%;
    height: 100vh;
    background-color: #0d1821;
    position: fixed;
    top: 0;
    left: -40%;
    z-index: 3;
    transition: 1s;
}

.side-menu ul{
    margin-top: 10%;
}

.side-menu li{
    padding: 2px;
    text-align: center;
    height: 40px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.251);
}

.closebutton{
    color: white;
    font-size: 32px;
    text-align: end;
    padding: 15px;
    cursor: pointer;
}

.side-menu  a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Smooch Sans", sans-serif;
  letter-spacing: 3px;
  display: block;
}

.side-menu li:hover a{
    color: #0bfeb5;
}

.side-menu li:hover{
    background-color: rgba(128, 128, 128, 0.103);
}

.note-book{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 8%;
    padding-bottom: 10%;
    scrollbar-width: thin;
}

.simplification pre h1, .percentage pre h1, .siandci pre h1, .volume pre h1{ 
    font-size: 25px;
}

.simplification, .percentage, .siandci, .volume{
    font-size: 16px;
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: white;
    width: 90%;
    height: 80%;
    z-index: 4;
    border-radius: 30px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.simplification pre ,.percentage pre, .siandci pre, .volume pre{
    margin: auto;
    font-size: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.note1 h1,.note2 h1, .note3 h1, .note4 h1{
   padding-top: 20px;
   font-family: "PT Serif", serif;
   font-weight: 100;
}

.topic1, .topic2, .topic3, .topic4{
     background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    bottom: 0;
    position: fixed;
    display: none;
}

.note1, .note2, .note3, .note4{
    width: 90%;
    height: 100px;
    position: sticky;
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
}

 
    .note1:hover, .note2:hover, .note3:hover, .note4:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    transform: scale(1.05);
    transition: 0.5s;
}

@media screen and (max-width:600px){

    .menu{
        display: none;
    }
    
    .navbar{
        justify-content: space-between;
    }
    
    h1{
        font-size: 30px;
        margin-left: 30%;
    }
      .menu-icon{
        display: block;
        font-size: 30px;
      }

      .left-arrow{
        font-size: 30px;
      }


}
